HotelWpf/Connected Services/ServiceNS/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService3.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService3.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfApartamet_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Apartamet_DTO" nillable="true" type="tns:Apartamet_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApartamet_DTO" nillable="true" type="tns:ArrayOfApartamet_DTO" />
  <xs:complexType name="Apartamet_DTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ClientIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Floor" type="xs:int" />
      <xs:element minOccurs="0" name="Hotel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Numb" type="xs:int" />
      <xs:element minOccurs="0" name="PlaceQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="RoomQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="TypeApartament" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Apartamet_DTO" nillable="true" type="tns:Apartamet_DTO" />
</xs:schema>