HotelWpf/Connected Services/ServiceNS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" />
      <xsd:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService3.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTypeApartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeApartments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTypeApartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeApartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HotelIsReal_InputMessage">
    <wsdl:part name="parameters" element="tns:HotelIsReal" />
  </wsdl:message>
  <wsdl:message name="IService1_HotelIsReal_OutputMessage">
    <wsdl:part name="parameters" element="tns:HotelIsRealResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHotel" />
  </wsdl:message>
  <wsdl:message name="IService1_AddHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRoom" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHotelName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHotelName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetApartaments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApartaments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetApartaments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApartamentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCountries" message="tns:IService1_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCountriesResponse" message="tns:IService1_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeApartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTypeApartments" message="tns:IService1_GetTypeApartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTypeApartmentsResponse" message="tns:IService1_GetTypeApartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HotelIsReal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HotelIsReal" message="tns:IService1_HotelIsReal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HotelIsRealResponse" message="tns:IService1_HotelIsReal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddHotel" message="tns:IService1_AddHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddHotelResponse" message="tns:IService1_AddHotel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRoom" message="tns:IService1_AddRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRoomResponse" message="tns:IService1_AddRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHotelName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHotelName" message="tns:IService1_GetHotelName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHotelNameResponse" message="tns:IService1_GetHotelName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApartaments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetApartaments" message="tns:IService1_GetApartaments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetApartamentsResponse" message="tns:IService1_GetApartaments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeApartments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTypeApartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HotelIsReal">
      <soap:operation soapAction="http://tempuri.org/IService1/HotelIsReal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHotel">
      <soap:operation soapAction="http://tempuri.org/IService1/AddHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRoom">
      <soap:operation soapAction="http://tempuri.org/IService1/AddRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotelName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHotelName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApartaments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetApartaments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54967/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>