HotelWpf/Connected Services/ServiceNS/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" />
  <xs:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService3.DTO" />
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" minOccurs="0" name="GetCountriesResult" nillable="true" type="q1:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeApartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" minOccurs="0" name="GetTypeApartmentsResult" nillable="true" type="q2:ArrayOfTypeApartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelIsReal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" minOccurs="0" name="hotel" nillable="true" type="q3:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelIsRealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HotelIsRealResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" minOccurs="0" name="hotel" nillable="true" type="q4:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameHotel" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" minOccurs="0" name="apartament" nillable="true" type="q5:Apartament" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHotelNameResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartaments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Second" type="xs:dateTime" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartamentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService3.DTO" minOccurs="0" name="GetApartamentsResult" nillable="true" type="q7:ArrayOfApartamet_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>