HotelWpf/Connected Services/ServiceReference1/Service111.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addreses" nillable="true" type="tns:ArrayOfAddres" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfAddres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Addres" nillable="true" type="tns:Addres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddres" nillable="true" type="tns:ArrayOfAddres" />
  <xs:complexType name="Addres">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="Hotel" nillable="true" type="tns:ArrayOfHotel" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Addres" nillable="true" type="tns:Addres" />
  <xs:complexType name="ArrayOfHotel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotel" nillable="true" type="tns:ArrayOfHotel" />
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addres" nillable="true" type="tns:Addres" />
      <xs:element minOccurs="0" name="Apartaments" nillable="true" type="tns:ArrayOfApartament" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hotel" nillable="true" type="tns:Hotel" />
  <xs:complexType name="ArrayOfApartament">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Apartament" nillable="true" type="tns:Apartament" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApartament" nillable="true" type="tns:ArrayOfApartament" />
  <xs:complexType name="Apartament">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountLieu" type="xs:int" />
      <xs:element minOccurs="0" name="CountRoom" type="xs:int" />
      <xs:element minOccurs="0" name="Floor" type="xs:int" />
      <xs:element minOccurs="0" name="Hotel" nillable="true" type="tns:Hotel" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Numb" type="xs:int" />
      <xs:element minOccurs="0" name="TypeApartments" nillable="true" type="tns:TypeApartments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Apartament" nillable="true" type="tns:Apartament" />
  <xs:complexType name="TypeApartments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apartament" nillable="true" type="tns:ArrayOfApartament" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeApartments" nillable="true" type="tns:TypeApartments" />
</xs:schema>