HotelWpf/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54967/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" />
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" minOccurs="0" name="GetCountriesResult" nillable="true" type="q1:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeApartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" minOccurs="0" name="GetTypeApartmentsResult" nillable="true" type="q2:ArrayOfTypeApartments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelIsReal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" minOccurs="0" name="hotel" nillable="true" type="q3:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelIsRealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HotelIsRealResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService3.BaseClass" minOccurs="0" name="hotel" nillable="true" type="q4:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>